<% include header.ejs %>
<body class="block">
    <h1>Upps... something wrong!</h1>
    <p>
        It looks like our technical specialist passed out!<br/>
        We will wake him up as soon as possible!<br/>
        Please try again in an hour... Thanks!
    </p>
    <img class="image404" src="/public/images/404.jpg"/>
</body>
<% include footer.ejs %>